@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: rgb(50, 50, 50);
}

nav {
    width: 40rem;
    padding: 15px;
    margin: 0 auto;
    border-bottom: 2px solid orange;
    font-family: "Source Code Pro";
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    color: white;
    display: block;
    width: 60px;
    transition: all 0.5s ease;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    color:white;
    font-weight: bold;
    font-size: xx-large;
    float: left;
}


.nav-right ul li {
    font-size: xx-large;
    float: right;
}

.logoImage {
    width: 80%;
    height: auto;
}

a:hover {
    color: orange;
}

#goHome {
    display: none;
}

#blogPost {
    width: 50rem;
    padding: 15px;
    margin: 0 auto;
    color: white;
    line-height: 200%;
}

#blogPost img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    background: white;
}

#blogPost h1, h2, h3, h4, h5 {
    color: orange;
    margin-bottom: 1rem;
}

#blogPost a {
    color: yellow;
}

#blogPost a:hover {
    color: red;
}

strong {
    color: rgb(59, 200, 255)
}

#date {
    color: grey;
}

.code {
    width: 40rem;
    padding: 15px;
    margin: 0 auto;
    /* background-color: black; */
}

.code code {
    /* color: rgb(0, 255, 76); */
}

.stable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: rgb(54, 54, 54);
}
.stable thead tr {
    /*background-color: #009879;*/
    color: black;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.stable th,
.stable td {
    padding: 12px 15px;
}

.stable tbody tr {
    border-bottom: 1px solid #8d8d8d;
}

.stable tbody tr:nth-of-type(even) {
    background-color: #6b6b6b;
}

.stable tbody tr:last-of-type {
    border-bottom: 2px solid rgb(150, 0, 0);;
}
