@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
* {
    font-family: "Source Code Pro";
}

body {
    background: rgb(50, 50, 50);
}

  
  /* customizable snowflake styling */
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/

header {
    text-align: center;
    padding-top: 2rem;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

#mainNavigation li a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

#mainNavigation li a:hover {
    color: orange;
}

#socialsHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#socialsHeader li a {
    color: white;
    transition: all 0.5s ease;
}

#socialsHeader li a:hover {
    color: orange;
}

#heroContainer {
    text-align: center;
}

#heroContainer p {
    color: gray;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.fade-in-other {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.fade-in img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 5px #222);
    padding-bottom: 2rem;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    font-size: 30pt;
    text-align: center;
    width: 5.5em;
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 5.5em }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  /* For bottom image */
  .absolute {
    position: absolute;
  }

  .bottom-0 {
    bottom: 0px;
  }

  .max-w-max {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .max-w-xl {
    max-width: 36rem;
  }
  .max-w-\[16rem\] {
    max-width: 16rem;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .left-0 {
    left: 0px;
  }
  .right-0 {
    right: 0px;
  }

  .md\:left-auto {
    left: auto;
  }

  .fade-in img {
    width: 20%;
    height: auto;
}

@media only screen and (min-width: 750px) {
    nav li {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: center;
        font-size: 20pt;
    }

    .typewriter h1 {
        font-size: 40pt;
    }

    #heroContainer p {
        font-size: 20pt;
    }

    .myImage {
        display: flex;
    }
}
  
@media only screen and (min-width: 1200px) {
    nav li {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: center;
        font-size: 20pt;
    }

    .typewriter h1 {
        font-size: 40pt;
    }

    #heroContainer p {
        font-size: 20pt;
    }
}

@media only screen and (min-width: 1920px) {
    nav li {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        text-align: center;
        font-size: 30pt;
    }

    .typewriter h1 {
        font-size: 50pt;
    }

    #heroContainer p {
        font-size: 30pt;
    }

    .fade-in img {
        width: 25%;
        height: auto;
    }
}

@media only screen and (min-width: 2560px) {
    nav li {
        padding-right: 3rem;
        padding-left: 3rem;
        text-align: center;
        font-size: 40pt;
    }

    .typewriter h1 {
        font-size: 60pt;
    }

    #heroContainer p {
        font-size: 40pt;
    }

    
}

.myImage img{
    display: flex;
    width: 20%;
    height: auto;
}
  

#projectsDiv {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem; /* Optional: Add some padding for spacing */
    z-index: 1000; /* Ensure it stays on top of other content */
}

#projectsDiv ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#projectsDiv ul li {
    margin-bottom: 0.5rem; /* Optional: Add some spacing between list items */
}

#projectsDiv ul li a {
    color: white; /* Match the text color to the page style */
    text-decoration: none;
    transition: all 0.5s ease;
}

#projectsDiv ul li a:hover {
    color: orange;
}
